<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="scoutLog" type="Avtec.Scout.Core.Logging.Config.ScoutLogConfigSection, CsharpTestHarness, Version=1.0.0.0, Culture=neutral" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <scoutLog appName="VPGate" level="Debug">
    <appenders>
      <appender name="rollingFileAppender" />
      <!--<appender name="adoNetAppender" />-->
      <!--<appender name="msmqAppender" />-->
    </appenders>
    <rollingFileAppender file="ConsoleMgr.log" maxFileSize="10000000" maxSizeRollBackups="3" />
    <!--<adoNetAppender bufferSize="1" connectionStringName="Log" />-->
    <!--<msmqAppender queueName=".\Private$\ScoutLogging" />-->
  </scoutLog>
</configuration>